@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
nav li a{
    padding: 10px;
}
nav a:hover{
    background-color: #ffffff;
    color: #046636;
    border-radius: 10px 0px 0px 10px;
}
.active{
    background-color: #ffffff;
    color: #046636;
    border-radius: 10px 0px 0px 10px;
}
button:hover{
    cursor: pointer;
}
/* webkit scrollbar */
::-webkit-scrollbar {
    width: 4px;
    border: 1px solid black;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #EB7100;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #046636;
}
.success{
    animation: fromrighttoleft 0.5s ease-in-out;
}
@keyframes fromrighttoleft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}